.title {
    margin-bottom: 30px;
}

.formContainer {
    padding: 40px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .2);
    margin-bottom: 40px;
    background-color: #fff;
}

.form {
    display: flex;
    flex-direction: row;
    row-gap: 20px;
    column-gap: 40px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.form:nth-child(n+2) {
    padding-top: 20px;
    border-top: 2px solid black;
}

.fieldBoxRow {
    display: flex;

}

.btnBoxRow {
    display: flex;
    column-gap: 20px;
    flex-wrap: wrap;
}

.fieldBox {

}

.fieldLabel {
    font-size: 18px;
}

.field {
    margin-top: 10px;
    display: block;
    padding: 10px;
    border: 2px solid #e2e2e4;
    background-color: #f9f9f9;
    color: #222224;
    border-radius: 4px;
    font-size: 14px;
}

.invalid {
    border-color: #DC004E;
}

.btn {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    outline: none;
    border-radius: 4px;
    transition: .2s ease-in-out;
    cursor: pointer;
}


.nextBtn {
    color: white;
    background-color: #444444;
    border: 2px solid #444444;
}

.nextBtn:hover {
    background-color: #111114;
}


.prevBtn {
    color: #111114;
    background-color: #e2e2e4;
    border: 2px solid #e2e2e4;
}

.prevBtn:hover {
    background-color: #ccccc4;
}

.removeBtn {
    border: 2px solid #DC004E;
    background-color: #DC004E;
    color: white;
    align-self: baseline;
    margin-top: 32px;
}

.removeBtn:hover {
    background-color: #9A0036;
}

.addMoreBtn {
    background-color: #20C997;
    border: 2px solid #20C997;
    color: white;
}

.errorMsg {
    margin-top: 5px;
    color: #DC004E;
    font-size: 14px;
}

.mainError {
    margin-bottom: 10px;
    font-size: 20px;
}
