.item {
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
    width: 500px;
    background-color: #f9f9f9;
    border-radius: 10px;
    column-gap: 20px;
}

.title {
    white-space: pre-line;
    word-break: break-all;
    display: block;
    line-height: 1.2;
    transition: color 0.4s;
}

.button {
    width: 30px;
    height: 30px;
    justify-self: flex-end;
    border: none;
    background-color: #dc3545;
    text-align: center;
    color: #fff;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    background-color: #c82333;
}

.completed {
    color: #d9d9d9;
    text-decoration: line-through;
}
