.header {
  background-color: #181818;
  padding: 10px 20px;
}

.headerLogo {
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
}

.container {
  padding: 50px 30px;
  background-color: #f1f1f1;
}
