@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: #664AFF;
}

img {
    vertical-align: middle;
}

.container {
    max-width: 1280px;
    margin: auto;
    padding: 0 20px;
}

.wrapper {
    max-width: 450px;
    margin: 20px auto;
}

.wrapper .search-input {
    background: #fff;
    width: 100%;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 1px 5px 3px rgba(0, 0, 0, 0.12);
}

.search-input input {
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.search-input.active input {
    border-radius: 5px 5px 0 0;
}

.search-input .autocom-box {
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
}

.search-input.active .autocom-box {
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}

.autocom-box li {
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
}

.search-input.active .autocom-box li {
    display: block;
}

.autocom-box li:hover {
    background: #efefef;
}

.search-input .icon {
    position: absolute;
    right: 0;
    top: 0;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    color: #644bff;
    cursor: pointer;
}

.icon img {
    vertical-align: middle;
}

.tabs-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.tabs-menu {
    display: flex;
    width: 70%;
}

.tabs-menu .tab {
    cursor: pointer;
    padding: 10px 15px;
    border-bottom: 2px solid transparent;
    font-size: 16px;
}

.tabs-menu .tab:hover {
    border-bottom: 2px solid #d1d5da;
}

.tabs-menu .tab.active {
    border-bottom-color: #f9826c;
}

.tabs-menu .tab .icon {
    vertical-align: middle;
}

.tab .count {
    display: inline-block;
    margin-left: 4px;
    background-color: #d1d5da;
    border-radius: 20px;
    font-size: 14px;
    padding: 0 6px;
    min-width: 25px;
    text-align: center;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.user {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 5%;
    row-gap: 30px;
}

.user-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 25%;
}

.user-repos-follows {
    width: 70%;
}

.user-avatar {
    border-radius: 50%;
    width: 100%;
}

.user-repos {
    list-style: none;
}

.repos-item,
.follow-item {
    padding-bottom: 20px;
    border-bottom: 1px solid #d1d5da;
}

.repos-item:not(:first-child),
.follow-item:not(:first-child) {
    margin-top: 20px;
}

.repos-description {
    margin-top: 10px;
}

.repos-short-info {
    font-size: 14px;
    margin-top: 15px;
    color: gray;
}

.repos-short-info .info {
    display: inline-block;
    margin-right: 10px;
}

.repos-short-info img {
    height: 14px;
}

.follow-item {
    display: flex;
    gap: 30px
}

.follow-item .avatar {
    width: 50px;
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
    .user {
        flex-direction: column;
    }
    .user-info {
        width: 100%;
        flex-direction: row;
        order: 1;
    }

    .user-info .user-avatar {
        max-width: 100px;
    }

    .tabs-container {
        order: 2;
        justify-content: flex-start;
    }

    .tabs-menu {
        width: 100%;
    }

    .user-repos-follows {
        width: 100%;
        order: 3;
    }
}

