.userInfo {
    width: 100%;
    text-align: center;
    color: #181818;
    margin-bottom: 50px;
}

.name {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
}

.username {
    display: block;
    font-size: 18px;
    font-weight: 400;
}

.loader {
    display: flex;
    justify-content: center;
}

.notFound {
    text-align: center;
}
